<h1 style="color:blue">WElcome to First project of Angular</h1>

<h2>Output</h2>

<p>Value of num: -  {{num}}</p>
<p>value of num1: - {{num1}}</p>
<p>Value of num2: - {{num2}}</p>
<p>Courses: - {{courses}}</p>
<p>{{courses[2]}}</p>
<p>{{courses[3]}}</p>
<ul>
  <li>{{arr1}}</li>
</ul>

<p>Addition: - {{20+30}}</p>
<hr>
<h2>Student info: - </h2>
<p>{{student}}</p>
<p>{{student.age}}</p>
<hr>
<p>Employee's Info</p>
<p>{{Employees}}</p>
<p>{{Employees[0].ename}}</p>
<hr>
<div>
    <h1>NgFor Example- Structural Directives</h1>
    <ul *ngFor="let i of Employees">
      <li>{{i.ename}} {{i.sal}} {{i.Country}}</li>
    </ul>
</div>

<h4>Employee info from second component</h4>

<app-secondcompo></app-secondcompo>