<div class="container">
    <hr>
    <h1>Property Binding</h1>
    <h3 [innerHTML]="msg" class="text-primary"></h3>

    <input type="text" [value]="text">

    <img [src]="imgPath" height="200px" width="300px" alt="image">
</div>

<div class="container">
    <hr>
    <h1>Two-Way Data Binding</h1>
    Enter Your Name: - <input type="text" [(ngModel)]="greeting">
    <p>Welcome to Two Way Data Binding.... {{greeting}}</p>
</div>

<div>
    <hr>
    <h3>Calculator using ngModel</h3>
    <input type="number" [(ngModel)]="num1"> <br> <br>
    <input type="number" [(ngModel)]="num2">
    <h2>Addition : - {{num1+num2}}</h2>

    <hr><hr>
    <input type="number" [(ngModel)]="num3"> <br> <br>
    <input type="number" [(ngModel)]="num4">
    <h2>Subtraction : - {{num3-num4}}</h2>

    <hr><hr>
    <input type="number" [(ngModel)]="num5"> <br> <br>
    <input type="number" [(ngModel)]="num6">
    <h2>Multiplication: - {{num5*num6}}</h2>

    <hr><hr>
    <input type="number" [(ngModel)]="num7"> <br> <br>
    <input type="number" [(ngModel)]="num8">
    <h2>Subtraction : - {{num7/num8}}</h2>
</div>

<div>
    <hr>
    <h2>Event Binding</h2>
    <button (click)="sayHello()">Click Me</button>
   
    <br><br>
    <button (click)="hello()">click to Say Hiii to me</button>
    <p>Welcome, {{name}}</p>

    <br><br><hr>
    <button (mouseover)="hey()" (mouseout)="Nothello">Heyyyy</button>
    <p>Good Night, {{name1}}</p>
</div>

<hr>

<div class="container">
<h2>Event Handling</h2>
<input type="text" #txt ><br><br>
<button class="btn btn-outline-success m-3" (click)="fun5(txt.value)">Click Me</button>
<p> Value of textbox:- {{globalVal}}</p>

<hr>
<h2>Addition of two numbers</h2>
<input type="number" #Num1 class="m-2"> 
<input type="number" #Num2>
<button class="btn btn-success m-3" (click)="fun6(Num1.value,Num2.value)">Show Addition</button>
<p>Addition of Two Numbers: - {{sum}}</p>

<hr>
<input type="text" (keyup)="keyEvent($event)">
<p>Text: - {{msg}}</p>

<h2>Select Country</h2>
<select (change)="SetDropDownValue($event)">
    <option value="">Select</option>
    <option value="IN">In</option>
    <option value="US">US</option>
    <option value="UK">UK</option>
</select> <br> <br>

<h2 class="text-warning">You Have Selected</h2> <br>
<div [ngSwitch] = 'dropDownValue'>
    <h3 *ngSwitchCase="'IN'">IN</h3>
    <h3 *ngSwitchCase="'US'">US</h3>
    <h3 *ngSwitchCase="'UK'">UK</h3>
    <h3 *ngSwitchDefault="">You have not selected</h3>
</div>
</div>